@import url(http://fonts.googleapis.com/css?family=Raleway:500,600,700,800,400,200,300);

body {
  font-family: 'canter', 'Raleway', sans-serif;
 
}

.fixed-panel {
  min-height: 100px;
  max-height: 200px;
  overflow-y: scroll;
}

.tableHead{
	background-color : #3c3c3c;
	color :#E6E7E8;
	font-size: 18px;
}

.tableLine{	
	vertical-align: center !important;
	height: 50px;
	line-height: 50px !important; 
}

/* Home */

.background{
	background-image:url("../images/home.jpg");
	height: 450px;
}

.th-height{
	height: 40px;
	line-height: 40px !important; 
}



