@import url(http://fonts.googleapis.com/css?family=Raleway:500,600,700,800,400,200,300);

body {
  font-family: 'canter', 'Raleway', sans-serif;
}

.fixed-panel {
  min-height: 300px;
  max-height: 300px;
  overflow-y: scroll;
}

.tableHead{
	background-color : #3c3c3c;
	color :white;
	font-size: 16px;
}

.tableLine{
	padding-top:  : 10px;
	padding-bottom: 10px;
}

