<nav class="navbar navbar-inverse">
	<a class="navbar-brand" href="#">Vizbot</a>
	<ul class="nav navbar-nav">
		<li class="active">
			<a href="dashboard">Dashboard</a>
		</li>
		<li>
			<a href="workspace">Workspace</a>
		</li>
		<li>
			<a href="summary">Summary</a>
		</li>
	</ul>
</nav>
<div class="container-fluid" data-ng-init="init()">
  <div class="row">
	<div class="col-md-12 overflow">
		<div class="row">
			<div class="col-md-12">
			 	<div class="panel panel-default">
					<div class="panel-heading">
				    	<h3 class="panel-title">Global informations</h3>
				  	</div>
				<div class="panel-body">
				  <div class="row">
					<div class="col-md-2">
					    <span><b>Consent </b>: {{consent.title}} </span><br/>
					    <span><b>Client </b>: {{consent.client}} </span><br/>
					    <span><b>Owner </b>: {{consent.owner}}</span><br/>
					    <span><b>Location </b>: {{consent.address}}</span><br/>
					</div>
					<div class="col-md-3">
						<div class="panel panel-primary">
							  <div class="panel-heading">
									<h3 class="panel-title">Project Team <a class="pull-right" href="workspace">View all</a></h3>
							  </div>
							  <div class="panel-body">
							  		<ul ng-repeat="person consent.people">
							  			{{person.name}} {{person.type}}
							  		</ul>
							  </div>
						</div>
					</div>
					<div class="col-md-6" ng-hide="consent.status =='create'">
					<div class="col-md-4">
					    <div class="panel panel-primary">
					    	  <div class="panel-heading">
					    			<h3 class="panel-title">Days Remaining</h3>
					    	  </div>
					    	  <div class="panel-body">
					    			{{daysRemaining}}
					    	  </div>
					    </div>
					</div>
					<div class="col-md-4">
						<div class="panel panel-primary">
							  <div class="panel-heading">
									<h3 class="panel-title">Days Paused</h3>
							  </div>
							  <div class="panel-body">
									0
							  </div>
						</div>
					</div>
					</div>
				  </div>
				</div>
			</div>
			</div>
		</div>
		<div class="row">
					<div class="col-md-12">
					<div class="panel panel-default">
						  <div class="panel-heading">
								<h3 class="panel-title">Step Bar</h3>
						  </div>
						  <div class="panel-body">
							<div class="row bs-wizard" style="border-bottom:0;">
	                
			                <div class="col-xs-1 bs-wizard-step" ng-class="stepbar.create">
			                  <div class="text-center bs-wizard-stepnum">Create Consent</div>
			                  <div class="progress"><div class="progress-bar"></div></div>
			                  <a href="#" class="bs-wizard-dot"></a>
			                </div>
			                
			                <div class="col-xs-1 bs-wizard-step" ng-class="stepbar.build"><!-- complete -->
			                  <div class="text-center bs-wizard-stepnum">Build Consent</div>
			                  <div class="progress"><div class="progress-bar"></div></div>
			                  <a href="#" class="bs-wizard-dot"></a>
			                </div>
			                
			                <div class="col-xs-1 bs-wizard-step" ng-class="stepbar.submit"><!-- complete -->
			                  <div class="text-center bs-wizard-stepnum">Submit</div>
			                  <div class="progress"><div class="progress-bar"></div></div>
			                  <a href="#" class="bs-wizard-dot"></a>
			                </div>
			                
			                <div class="col-xs-1 bs-wizard-step" ng-class="stepbar.vetting"><!-- active -->
			                  <div class="text-center bs-wizard-stepnum">Vetting</div>
			                  <div class="progress"><div class="progress-bar"></div></div>
			                  <a href="#" class="bs-wizard-dot"></a>
			                </div>
			                <div class="col-xs-1 bs-wizard-step" ng-class="stepbar.approval"><!-- active -->
			                  <div class="text-center bs-wizard-stepnum">Approval</div>
			                  <div class="progress"><div class="progress-bar"></div></div>
			                  <a href="#" class="bs-wizard-dot"></a>
			                </div>
			                <div class="col-xs-1 bs-wizard-step" ng-class="stepbar.rfi"><!-- active -->
			                  <div class="text-center bs-wizard-stepnum">RFI</div>
			                  <div class="progress"><div class="progress-bar"></div></div>
			                  <a href="#" class="bs-wizard-dot"></a>
			                </div>
							<div class="col-xs-1 bs-wizard-step" ng-class="stepbar.approved"><!-- active -->
			                  <div class="text-center bs-wizard-stepnum">Approved</div>
			                  <div class="progress"><div class="progress-bar"></div></div>
			                  <a href="#" class="bs-wizard-dot"></a>
			                </div>
			            </div>
						  </div>
					</div>

					</div>
				  </div>
		<div class="row">
			<div class="col-md-3">
				<div class="panel panel-default fixed-panel">
					<div class="panel-heading">
				    	<h3 class="panel-title">Status</h3>
				    </div>
				<div class="panel-body">
					<h3>{{status}}</h3>
					<button ng-click="submitApplication()" type="button" class="btn btn-success" ng-show="consent.status =='submit'">SUBMIT</button>
			   </div>
			</div>
		</div>
		<div class="col-md-9">
			<div class="panel panel-default">
						<div class="panel-heading">
					    	<h3 class="panel-title">Timeline</h3>
					    </div>
				<div class="panel-body">
				<ul class="timeline" ng-repeat="item in timeline">
			        <li>
			          <div class="timeline-badge"><i ng-class="item.icon"></i></div>
			          <div class="timeline-panel">
			            <div class="timeline-heading">
			              <h4 class="timeline-title">{{item.title}}</h4>
			              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> {{item.date}} by {{item.by}}</small></p>
			            </div>
			            <div class="timeline-body">
			              <p> {{item.text}} </p>
			            </div>
			          </div>
			        </li>
			    </ul>
			   </div>
			</div>
		</div>
  	</div>
</div>