<nav class="navbar navbar-inverse">
  <a class="navbar-brand" href="consents">Vizbot</a>
  <ul class="nav navbar-nav">
    <li class="active">
      <a href="consent">Home</a>
    </li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <span class="glyphicon glyphicon-user"><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
            <li class="disabled"><a href="#"><span class="glyphicon glyphicon-envelope"></span> Inbox</a></li>
            <li class="disabled"><a href="#"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="home"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
          </ul>
        </li>
      </ul> 
</nav>



<div class="container-fluid" data-ng-init="init()">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="col-md-12">
        <h3>Project Team</h3>
      </div>
      <div class="col-md-8 content-left-seperator">
        <div class="row">
          <div class="col-md-12">
            <h3>Agent</h3>
            <div ng-show="!hasAgent">
              <button type="button" class="btn btn-primary btn-md pull-right" data-toggle="modal" data-target="#addAgent">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Agent  
              </button>

              <div class="modal fade" id="addAgent">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title">Modal title</h4>
                    </div>
                      <div class="modal-body">
                      <div class="form-group" >
                      <label>Name of Agent :</label>
                      <input type="text" class="form-control" ng-model="people.agent.name">

                      <label>Street :</label>
                      <input type="text" class="form-control" ng-model="people.agent.address.street">
                      <label>Suburb :</label>
                      <input type="text" class="form-control" ng-model="people.agent.address.suburb">
                      <label>City :</label>
                      <input type="text" class="form-control" ng-model="people.agent.address.city">
                      <label>Post Code :</label>
                      <input type="text" class="form-control" ng-model="people.agent.address.postCode">

                      <label>Phone Number:</label>
                      <input type="text" class="form-control" ng-model="people.agent.phone">
                      <label>Email:</label>
                      <input type="text" class="form-control" ng-model="people.agent.mail">
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>

              <button type="button" class="btn btn-primary btn-md pull-right margin-right-10px" data-toggle="modal" data-target="#addContact">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> From Contact  
              </button>
            </div>
            <div ng-show="hasAgent">
            </div>
          </div>
        </div>
        <hr>

        <div class="row">
          <div class="col-md-12">
            <h3>Owner</h3>
            <div ng-show="!hasAgent">
              <button type="button" class="btn btn-primary btn-md pull-right" data-toggle="modal" data-target="#addOwner">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Owner  
              </button>
              <div class="modal fade" id="addOwner">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title">Add Owner</h4>
                    </div>
                      <div class="modal-body">
                      <div class="form-group" >
                      <label>Name of Owner :</label>
                      <input type="text" class="form-control" ng-model="people.agent.name">

                      <label>Street :</label>
                      <input type="text" class="form-control" ng-model="people.agent.address.street">
                      <label>Suburb :</label>
                      <input type="text" class="form-control" ng-model="people.agent.address.suburb">
                      <label>City :</label>
                      <input type="text" class="form-control" ng-model="people.agent.address.city">
                      <label>Post Code :</label>
                      <input type="text" class="form-control" ng-model="people.agent.address.postCode">

                      <label>Phone Number:</label>
                      <input type="text" class="form-control" ng-model="people.agent.phone">
                      <label>Email:</label>
                      <input type="text" class="form-control" ng-model="people.agent.mail">
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>

              <button type="button" class="btn btn-primary btn-md pull-right margin-right-10px" data-toggle="modal" data-target="#addContact">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> From Contact  
              </button>
            </div>
            <div ng-show="hasAgent">
            </div>
          </div>
        </div>
        <hr>

        <div class="row">
          <div class="col-md-12">
            <h3>Professional</h3>
            <div ng-show="!hasAgent">
              

              <button type="button" class="btn btn-primary btn-md pull-right" data-toggle="modal" data-target="#addPro">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Professional  
              </button>

              <div class="modal fade" id="addPro">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title">Add Professional</h4>
                    </div>
                    <div class="modal-body">
                      <form class="large-margin-top">
                        <div class="form-group">
                        <label>Type :</label>
                          <select class="form-control" id="type" ng-model= "people.pro.type">
                                <option value"architect" selected>Architect</option>
                                <option value"structEngineer">Structural Engineer</option>
                                <option value"fire">Fire Engineer</option>
                                <option value"mechanical">Mechanical Engineer</option>
                                <option value"builder">Builder</option>
                                <option value"plumber">Plumber</option>
                                <option value"gasfitter">Gasfitter</option>
                                <option value"electrician">Electrician</option>
                                <option value"drainlayer">Drainlayer</option>
                                <option value"cladder">Exterior Cladder</option>
                                <option value"surveyor">Surveyor</option>
                                <option value"heating">Heating Appliance Installer</option>
                                <option value"others">Others</option>
                            </select>
                        </div>
                        <div class="form-group">
                        <label>Name / Business :</label>
                        <input type="text" class="form-control" ng-model="people.pro.name">
                        <label>Street :</label>
                        <input type="text" class="form-control" ng-model="people.pro.address.street">
                        <label>Suburb :</label>
                        <input type="text" class="form-control" ng-model="people.pro.address.suburb">
                        <label>City :</label>
                        <input type="text" class="form-control" ng-model="people.pro.address.city">
                        <label>Post Code :</label>
                        <input type="text" class="form-control" ng-model="people.pro.address.postCode">

                        <label>Phone Number:</label>
                        <input type="text" class="form-control" ng-model="people.pro.phone">
                        <label>Email:</label>
                        <input type="text" class="form-control" ng-model="people.pro.mail">
                        <label>Website:</label>
                        <input type="text" class="form-control" ng-model="people.pro.website">
                        <label>Registration Qualification:</label>
                        <input type="text" class="form-control" ng-model="people.pro.registration">
                        </div>
                        <button ng-click="savePeople()" type="submit" class="btn btn-lg btn-primary btn-block margin-top-10px">Save</button>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>


              <button type="button" class="btn btn-primary btn-md pull-right margin-right-10px" data-toggle="modal" data-target="#addContact">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> From Contact  
              </button>
              <button type="button" class="btn btn-primary btn-md pull-right margin-right-10px" data-toggle="modal" data-target="#addContact">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> From IPENZ  
              </button>
            </div>
            <div ng-show="hasAgent">
            </div>
          </div>
        </div>
        <hr>

        <div class="row">
          <div class="col-md-12">
            <h3>L.B.P</h3>
            <div ng-show="!hasAgent">
              <button type="button" class="btn btn-primary btn-md pull-right" data-toggle="modal" data-target="#addLbp">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> LBP  
              </button>

              <div class="modal fade" id="addLbp">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title">Add Licensed Building Practionner</h4>
                    </div>
                      <div class="modal-body">
                      <div class="form-group" >
                      <label>Name of Owner :</label>
                      <input type="text" class="form-control" ng-model="people.agent.name">

                      <label>Street :</label>
                      <input type="text" class="form-control" ng-model="people.agent.address.street">
                      <label>Suburb :</label>
                      <input type="text" class="form-control" ng-model="people.agent.address.suburb">
                      <label>City :</label>
                      <input type="text" class="form-control" ng-model="people.agent.address.city">
                      <label>Post Code :</label>
                      <input type="text" class="form-control" ng-model="people.agent.address.postCode">

                      <label>Phone Number:</label>
                      <input type="text" class="form-control" ng-model="people.agent.phone">
                      <label>Email:</label>
                      <input type="text" class="form-control" ng-model="people.agent.mail">
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>

              <button type="button" class="btn btn-primary btn-md pull-right margin-right-10px" data-toggle="modal" data-target="#addContact">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> From Contact  
              </button>
              <button type="button" class="btn btn-primary btn-md pull-right margin-right-10px" data-toggle="modal" data-target="#addContact">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> From IPENZ  
              </button>
            </div>
            <div ng-show="hasAgent">
            </div>
          </div>
        </div>
  
          
      </div>
      <div class="col-md-4">
      <h3>Team</h3>
      </div>

    </div>
  </div>
</div>