<nav class="navbar navbar-inverse">
	<a class="navbar-brand" href="consents">Vizbot</a>
  <ul class="nav navbar-nav">
    <li class="active">
      <a href="consent">Home</a>
    </li>
  </ul>
	<ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <span class="glyphicon glyphicon-user"><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
            <li class="disabled"><a href="#"><span class="glyphicon glyphicon-envelope"></span> Inbox</a></li>
            <li class="disabled"><a href="#"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="home"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
          </ul>
        </li>
      </ul>	
</nav>

<div class="container-fluid" data-ng-init="init()">
  <div class="row">
  <div class="col-md-12 overflow">
    <div class="row">
      <div class="col-md-3">
          <form class="large-margin-top">
            <div class="form-group">
            <label>Search :</label>
            <input type="text" class="form-control" ng-model="value">
            </div>
            <button class="btn btn-primary btn-block" ng-click="searchProduct()" type="submit">Search</button>
          </form>
          <div ng-show="articleChoose.length > 0"> 
          <h3>Product choose</h3>
          <ul ng-repeat="art in articleChoose" class="list-no-bullets">
            <li>
          <div class="row">
            <div class="col-md-10">
               {{art.product_title}}
            </div>
            <div class="col-md-2">
              <button type="button" class="btn btn-danger" ng-click="removeProduct(art)"><span class="glyphicon glyphicon-trash"></span></button>
            </div>
          </div>          
            </li>
          </ul>
          <button type="button" class="btn btn-success btn-block" ng-click="save()">Validate</button>
          </div>
          <h3>Categories</h3>
          <ul ng-repeat="cat in categories" class="list-no-bullets">
            <li>
             <a href="#" ng-click="catFilter(cat.primary_slug)"> {{cat.primary}}</a>
            </li>
          </ul>
          <hr/>
      </div>
      <div class="col-md-9">
          <ul class="list-no-bullets" ng-repeat="prod in product.products">
          <li>
            <div class="col-lg-3">
            <a href="#" ng-click="addArticle(prod)">
              <img src="{{prod.image}}" alt="125x125" style="width:200px;height:200px">
              <span>{{prod.product_title}}</span>
            </a>
            </div>
          </li>
          </ul>
      </div>
    </div>  
  </div>
  </div>
</div>