<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4 margin-top-10pc">
			<form class="centering">
				<h2>Login</h2>
				<label>Mail :</label>
				<input type="text" class="form-control" ng-model="login.mail" required autofocus>
				<label>Password</label>
				<input type="password" class="form-control" ng-model="login.pwd" required>
				<button ng-click="save()" type="submit" class="btn btn-lg btn-primary btn-block margin-top-10px">Log in</button>
			</form>
		</div>
	</div>
</div>

