<div class="container-fluid">
  <div class="row">

	<div class="col-md-10 overflow">
			<div class="row">
				<h1>Consent</h1>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div>
						<a href="createconsent">
						<div class="home-button home-button-active">
						<button type="button" class="btn btn-primary btn-md">
						  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create consents
						</button>
						</div>
						</a>
					</div>
				</div>
			</div>
			<div class="row">
			  <div class="col-md-6">
				<div class="table-responsive">
					<table class="table table-condensed">
					  <tr>
						<th>Name</th>
						<th>Client</th> 
						<th>Locatiobn</th>
						<th></th>
					   </tr>
  						<tr>
     				      <td>Dojo</td>
					      <td>Biz</td> 
					      <td>115 Tory Street</td>
					      <td><a href="dashboard"><button type="button" class="btn btn-primary btn-md">
						  <span aria-hidden="true" class="glyphicon glyphicon-pencil"></span> Edit
						</button></a></td>
					  </tr>
					</table>
				</div>
				</div>
			</div>
		</div>
  </div>
</div>