<div class="container-fluid">
  <div class="row">

	<div class="col-md-10 overflow">
			<div class="row">
				<h1>Consent</h1>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div>
						<a href="createconsent">
						<div class="home-button home-button-active">
						<button type="button" class="btn btn-primary btn-md">
						  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create consents
						</button>
						</div>
						</a>
					</div>
				</div>
			</div>
			<div class="row">
			  <div class="col-md-6">
				<div class="table-responsive" >
					<table class="table table-condensed">
					<tbody> 
					  <tr>
						<th>Name</th>
						<th>Client</th> 
						<th>Location</th>
						<th></th>
					   </tr>
					 </tbody>
					 <tbody> 
  						<tr ng-repeat="consent in consents">
     				      <td>{{consent.title}}</td>
					      <td>{{consent.client}}</td> 
					      <td>{{consent.address}}</td>
					      <td><a href="dashboard"><button type="button" class="btn btn-primary btn-md">
						  <span aria-hidden="true" class="glyphicon glyphicon-pencil"></span> Edit
						</button></a></td>
					  </tr>
					  </tbody>
					</table>
				</div>
				<ul>
    				<li>
        			{{test}} {{c}}
    				</li>
				</ul>
				</div>
			</div>
		</div>
  </div>
</div>