<div class="container-fluid">
  <div class="row">

	<div class="col-md-10 overflow">
			<div class="row">
				<h1>Create Consent</h1>
			</div>
			<div class="row">
				<form class="large-margin-top">
				  		<div class="form-group">
							<label>Consent name :</label>
							<input type="text" class="form-control" ng-model="consent.title">
				  		</div>
				  		<div class="form-group">
							<label>What's your role in this project: </label>
							<select class="form-control" id="type" ng-model= "consent.client">
                                <option value"client" selected>Client / Owner</option>
                                <option value"agent">Agent</option>
                            </select>
				  		</div>
				  		<div class="form-group">
							<label>Location :</label>
							<input placeholder="Address" type="text" class="form-control" ng-model="consent.address">
				  		</div>
				  		<button ng-click="createConsent()" type="submit" class="custom-button">Create</button>
					</form>
			</div>
		</div>
  </div>
</div>